.message(data-id= "#{message.id}")
  .upper-message
    .upper-message__member-name
      = message.user.name
    .upper-message__time
      = message.created_at.strftime("%Y年%m月%d %H:%M")
  .lower-meesage
    - if message.body.present?
      %p.lower-message__chat-text
        = message.body
    = image_tag message.image.url, class: 'lower-message__image'if message.image.present?
