.user-header
  .user-action
    .user-name
      = current_user.name
    = link_to edit_user_path(current_user.id) do
      = fa_icon 'cog', class: 'fa'
    = link_to new_group_path do
      = fa_icon 'pencil-square-o', class: 'fa'
  .current-group
    = @group.name
    %p.members
      Members:
      - @group.users.each do |user|
        = user.name

.contents
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
  .messages.clearfix
    = render @messages

    %footer
      .form
        = form_for [@group, @message], html: {id: 'new_message'} do |f|
          = f.text_field :body, class: 'form__message', placeholder: "type a message"
          = f.label :image, class: 'upload-label' do
            = fa_icon 'fa-image', class: 'fa-image'
            = f.file_field :image, class: 'upload-icon'
          = f.submit 'Send', class: 'form__submit'
