.user-header
  .user-action
    .user-name
      = current_user.name
    = link_to edit_user_path(current_user.id) do
      = fa_icon 'cog', class: 'fa'
    = link_to new_group_path do
      = fa_icon 'pencil-square-o', class: 'fa'
  .current-group
    sample
    %p.members
      Members: member_name

.contents
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            まだメッセージはありません。
  .chat-main
    .message
      %p.member-name
        name
      %p.message-date
        2019/00/00/00 00:00:00
      %p.chat-text
        text
    .message
      %p.member-name
        name
      %p.message-date
        2019/00/00/00 00:00:00
      %p.chat-text
        text
    .message
      %p.member-name
        name
      %p.message-date
        2019/00/00/00 00:00:00
      %p.chat-text
        text

    %footer
      %input.create_message{ type: "text", placeholder: "type a message" }
      %label.upload-label{for: "upload-icon"}
        %i.fa.fa-image
        %input{type: "file", id: "upload-icon"}
      %input{ type: "submit", value: "Send", class: "send-message" }
